*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  font-style: normal;
}

nav div a
{
    text-decoration: none;
    color: white;
    padding: 5px;
}

nav div{
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: black;
    padding: 15px 40px;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

a:hover{
    color: aqua;
}

nav div li:last-child a{
    background-color: rgb(253, 118, 106);
    /* Top-Bottom, Left-Right */
    padding: 3px 10px;
    border-radius: 10px;
}

nav div li:last-child a:hover{
    background-color: rgb(98, 227, 227);
    background-color: rgb(204, 46, 28);
}

nav h2{
    color: white;
}

.active{
    text-decoration: underline rgb(220, 71, 71) double;
}

.hero{
    background-color:rgb(253, 118, 106);
    height: 90vh;
    background: url("../Images/Banner.png");
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(254, 253, 253);
}

.hero button{
    background-color: red;
    color:white;
    /* tb - lb for padding*/
    padding:10px 20px;
    border: none;
    border-radius: 10px;
    /*top-left, bottom right for border radius */
    border-radius: 10px;
    margin-top:20px;
    cursor: pointer;
}

.hero button:hover{
background-color:darkred;
}

.video-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:50px;
    gap: 50px;
}

.video-text{
    flex: 1;
}

.video-box{
    flex: 1;
}

.video-box video{
    width: 100%;
    border-radius:20px; /* top-left, top-right, bottom -right, bottom-left */
    gap: 50px;

}

.video-text h2{
    font-size: 50px;
    margin-bottom: 20px;
}

.video-text p{
    font-size: 18px;
    color: grey;
}

.about{
    text-align: center;
    background-color: aqua;
    padding: 60px 20px; /*top-bottom, left-right */
    background-color: #f9f9f9;
}

.about h2{
    font-size: 30px;
    margin-bottom:20px;
    color: rgba(255, 0, 0, 0.733);
}

.about p{
     max-width:700px; 
    /* background-color: aqua; */
    line-height: 1.6;
    margin: auto;
    color: darkgray;
    font-size: 17px;
    
}

.card{
    background-color: rgba(73, 82, 90, 0.185);
    /* border: 2px black; */
    
    text-align: center;
    padding: 8px;
    box-shadow: 10px 10px 10px 0px gray; /*horizontal, vertical, blur, spread color */
    border-radius: 10px
    

}

.menu-container{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:15px;
    border: 2px black;
    
    
}

.card img{
    width:100%;
    object-fit: cover;
}

.card button{
    background: red;
    color: white;
    border: none;
    padding:6px 12px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 5px;

}

.card button:hover{
 background-color: darkred;
}

.icon-box{
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    
}

.icon-box img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border:2px solid rgb(234, 234, 69);
    padding:5px;
}

.category-icons{
    display:flex;
    gap: 20px;
    justify-content: center;
   align-items: center;
   overflow: auto;
   
}

.icon-box p{
   margin-top: 8px; 
   font-size: 16px;

}

.icon-box img:hover{
    /*  skew(deg) rotate(deg) translate(12px 12px);*/
    transform: scale(1.6);
    border-color: black;
    transition: 0.5s;
}

header{
    position: sticky;
    top: 0px;
    z-index: 100;
}

table{
    width: 70%;
    border-collapse: collapse;
    background-color: rgb(242, 175, 50);
    border-radius: 20px;
    margin: auto;
    overflow: hidden;
    margin-top: 25px;

}

thead{
    background-color: red;
    color: white;
}

th, td{
    padding: 20px;
    text-align: center;
}

tbody tr{
    border-bottom: 2px solid rgb(252, 24, 24);
}

.item{
    display: flex;
    align-items: center;
    gap: 16px;
}

.item img{
    width: 70px;
    height: 70px;
    border-radius: 15px;
}

.remove{
    background-color: red;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius:10px;
}

.remove:hover{
background-color: rgb(79, 179, 250);
}

.grand-total td{
    font-weight: bold;
    font-size: 18px;
}

.grand-total button{
    margin-top: 15px;
    padding: 10px 20px;
    background: red;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.grand-total button:hover{
background-color: rgb(79, 179, 250);
}

.qty-box{
    display: flex;
    gap: 10px;
    justify-content: center; /* Horizontal */
    align-items: center; /* Vertical */

}

.qty-box button{
width: 20px;
height: 20px;
border: none;
background-color: red;
color: white;
font-size: 16px;
border-radius: 4px;
cursor: pointer;
}

.qty-box button:hover{
    background-color: rgb(79, 179, 250);
}

.qty-box span{
    font-size: 16px;
    font-weight:bold;
    min-width: 20px;
}


