*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  font-style: normal;
}

nav div a
{
    text-decoration: none;
    color: white;
    padding: 5px;
}

nav div{
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: black;
    padding: 15px 40px;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

a:hover{
    color: aqua;
}

nav div li:last-child a{
    background-color: rgb(253, 118, 106);
    /* Top-Bottom, Left-Right */
    padding: 3px 10px;
    border-radius: 10px;
}

nav div li:last-child a:hover{
    background-color: rgb(98, 227, 227);
    background-color: rgb(204, 46, 28);
}

nav h2{
    color: white;
}

.active{
    text-decoration: underline rgb(220, 71, 71) double;
}

.hero{
    background-color:rgb(253, 118, 106);
    height: 90vh;
    background: url("../Images/Banner.png");
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(254, 253, 253);
}

.hero button{
    background-color: red;
    color:white;
    /* tb - lb for padding*/
    padding:10px 20px;
    border: none;
    border-radius: 10px;
    /*top-left, bottom right for border radius */
    border-radius: 10px;
    margin-top:20px;
    cursor: pointer;
}

.hero button:hover{
background-color:darkred;
}

.video-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:50px;
    gap: 50px;
}

.video-text{
    flex: 1;
}

.video-box{
    flex: 1;
}

.video-box video{
    width: 100%;
    border-radius:20px; /* top-left, top-right, bottom -right, bottom-left */
    gap: 50px;

}

.video-text h2{
    font-size: 50px;
    margin-bottom: 20px;
}

.video-text p{
    font-size: 18px;
    color: grey;
}

.about{
    text-align: center;
    background-color: aqua;
    padding: 60px 20px; /*top-bottom, left-right */
    background-color: #f9f9f9;
}

.about h2{
    font-size: 30px;
    margin-bottom:20px;
    color: rgba(255, 0, 0, 0.733);
}

.about p{
     max-width:700px; 
    /* background-color: aqua; */
    line-height: 1.6;
    margin: auto;
    color: darkgray;
    font-size: 17px;
    
}